@media screen and (max-width: 992px) {
  .center {
    text-align: center;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.link {
  color: white;
}
.link:hover {
  color: lightblue;
  text-decoration: none;
}

.glow:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #13547a, #ffffff) !important;
  background-size: 100%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.glow:hover:before {
  filter: blur(20px);
  opacity: 0.5;
  animation: animate 8s linear infinite;
}
