.bg2 {
  background-image: url(../assets/OurProducts.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
.overlay {
  color: white;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.linkp {
  color: #163bbd;
}
.linkp:hover {
  color: red;
}
.who {
  color: #163bbd;
  font-size: 71px;
  text-shadow: 5px 1px 0px #ffffff;
}
