.bg2{
    background-image: url(../corn.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
.overlay{
    background-color: black;
    opacity: 0.55 ;
    color: white;
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}