.who {
  color: #163bbd;
  font-size: 71px;
  text-shadow: 5px 1px 0px #ffffff;
}
.bg {
  background-image: url(../assets/Background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.weoverlay {
  opacity: 1;
  color: #163bbd;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
